.button{
   background-color: rgb(9, 105, 108);
   color: rgb(255, 255, 255);
   border: none;
   height: 30px;
}
.rating{
    margin-right: 10px;
    margin-top: 20px;
    font-size: 20px;
}

.Text{
    text-align: center;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    font-size: 50px;
}